---
http_interactions:
- request:
    method: get
    uri: https://api360.yandex.net/directory/v1/org/1234567/departments?orderBy=id&page=1&parentId=0&perPage=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
      Grpc-Message:
      - OK
    body:
      encoding: UTF-8
      string: '{"departments":[{"id":1,"name":"Все сотрудники","parentId":0,"description":"","externalId":"","label":"","email":"","headId":"0","membersCount":28,"aliases":[],"createdAt":"2018-08-13T09:28:29.434Z"},{"id":3,"name":"Golang developers","parentId":1,"description":"гоферы","externalId":"","label":"go-devs","email":"go-devs@example.ru","headId":"0","membersCount":0,"aliases":[],"createdAt":"2022-10-07T16:00:02.931Z"},{"id":6,"name":"juniors","parentId":3,"description":"","externalId":"","label":"","email":"","headId":"0","membersCount":0,"aliases":[],"createdAt":"2022-10-07T16:01:51.472Z"},{"id":7,"name":"middles","parentId":3,"description":"","externalId":"","label":"","email":"","headId":"0","membersCount":0,"aliases":[],"createdAt":"2022-10-07T16:01:58.985Z"},{"id":8,"name":"seniors","parentId":3,"description":"","externalId":"","label":"","email":"","headId":"0","membersCount":0,"aliases":[],"createdAt":"2022-10-07T16:02:06.572Z"}],"page":1,"pages":1,"perPage":10,"total":5}'
  recorded_at: Fri, 14 Oct 2022 12:23:13 GMT
recorded_with: VCR 6.1.0
