---
http_interactions:
- request:
    method: patch
    uri: https://api360.yandex.net/directory/v1/org/1234567/departments/13
    body:
      encoding: UTF-8
      string: '{"orgId":"1234567","departmentId":"13","parentId":"1","description":"Yandex360","name":"Support
        Team","label":"support-team"}'
    headers:
      Authorization:
      - TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
      Grpc-Message:
      - OK
    body:
      encoding: UTF-8
      string: '{"id":13,"name":"Support Team","parentId":1,"description":"Yandex360","externalId":"","label":"support-team","email":"support-team@example.ru","headId":"0","membersCount":0,"aliases":[],"createdAt":"2022-10-14T12:23:13.909Z"}'
  recorded_at: Fri, 14 Oct 2022 12:23:15 GMT
recorded_with: VCR 6.1.0
