---
http_interactions:
- request:
    method: post
    uri: https://api360.yandex.net/directory/v1/org/1234567/groups
    body:
      encoding: UTF-8
      string: '{"name":"Hotline"}'
    headers:
      Authorization:
      - TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
      Grpc-Message:
      - OK
    body:
      encoding: UTF-8
      string: '{"id":19,"name":"Hotline","type":"generic","description":"","membersCount":1,"label":"","email":"","aliases":[],"externalId":"","removed":false,"members":[{"type":"user","id":"48989999"}],"adminIds":["48989999"],"authorId":"0","memberOf":[],"createdAt":"2022-10-15T10:05:12.657Z"}'
  recorded_at: Sat, 15 Oct 2022 10:05:12 GMT
recorded_with: VCR 6.1.0
