---
http_interactions:
- request:
    method: get
    uri: https://api360.yandex.net/directory/v1/org/1234567/groups?page=1&perPage=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
      Grpc-Message:
      - OK
    body:
      encoding: UTF-8
      string: '{"groups":[{"id":1,"name":"Руководитель отдела \"Все сотрудники\"","type":"department_head","description":"","membersCount":0,"label":"","email":"","aliases":[],"externalId":"","removed":false,"members":[],"adminIds":[],"authorId":"0","memberOf":[],"createdAt":"2018-08-13T09:28:29.434Z"},{"id":2,"name":"Администратор
        организации","type":"organization_admin","description":"","membersCount":1,"label":"","email":"","aliases":[],"externalId":"","removed":false,"members":[{"type":"user","id":"48989999"}],"adminIds":[],"authorId":"0","memberOf":[],"createdAt":"2018-08-13T09:28:29.434Z"},{"id":3,"name":"Заместители
        администраторов организации","type":"organization_deputy_admin","description":"","membersCount":0,"label":"","email":"","aliases"[...]
