---
http_interactions:
- request:
    method: get
    uri: https://api360.yandex.net/directory/v1/org/1234567/groups/19/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
      Grpc-Message:
      - OK
    body:
      encoding: UTF-8
      string: '{"departments":[],"groups":[],"users":[{"id":"48989999","nickname":"sample","departmentId":1,"email":"","name":{"first":"sample","last":"sample","middle":""},"gender":"male","position":"","avatarId":"78321/x1vWPx4b55UiDYwDs32NbEXio1-G"},{"id":"987654321","nickname":"yndx-forms-cnt-robot","departmentId":0,"email":"","name":{"first":"Робот сервиса Forms","last":"","middle":""},"gender":"male","position":"","avatarId":""}]}'
  recorded_at: Sat, 15 Oct 2022 10:21:03 GMT
recorded_with: VCR 6.1.0
