---
http_interactions:
- request:
    method: post
    uri: https://api360.yandex.net/directory/v1/org/743156/users/1130000018743049/aliases
    body:
      encoding: UTF-8
      string: '{"alias":"ruby_gem_api"}'
    headers:
      Authorization:
      - TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
      Grpc-Message:
      - OK
    body:
      encoding: UTF-8
      string: '{"id":"1130000018743049","nickname":"dev","departmentId":1,"email":"dev@codeplay.ru","name":{"first":"development","last":"account","middle":""},"gender":"male","position":"","avatarId":"","about":"","birthday":"1970-01-01","contacts":[],"aliases":["ruby_gem_api"],"groups":[],"externalId":"","isAdmin":false,"isRobot":false,"isDismissed":false,"isEnabled":false,"timezone":"","language":"","createdAt":"2018-08-13T09:28:32.694Z","updatedAt":"2022-10-13T16:19:18.375Z"}'
  recorded_at: Thu, 13 Oct 2022 16:19:18 GMT
recorded_with: VCR 6.1.0
