---
http_interactions:
- request:
    method: delete
    uri: https://api360.yandex.net/directory/v1/org/12345678/users/12345678
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
      Grpc-Message:
      - OK
    body:
      encoding: UTF-8
      string: '{"id":"123","nickname":"user","departmentId":1,"email":"user@yandex.ru","name":{"first":"User","last":"User","middle":""},"gender":"male","position":"","avatarId":"PPeeZtrhVUI-1","about":"","birthday":"1910-11-14","contacts":[{"type":"staff","value":"https://staff.yandex.ru/user?org_id=12345678&uid=12345678","main":false,"alias":false,"synthetic":true},{"type":"email","value":"user@yandex.ru","main":true,"alias":false,"synthetic":true}],"aliases":[],"groups":[2],"externalId":"","isAdmin":true,"isRobot":false,"isDismissed":false,"isEnabled":true,"timezone":"Europe/Moscow","language":"ru","createdAt":"2020-04-18T21:25:56.501Z","updatedAt":"2023-04-15T16:28:06.983Z"}'
  recorded_at: Sat, 15 Apr 2023 16:28:07 GMT
recorded_with: VCR 6.1.0
