---
http_interactions:
- request:
    method: patch
    uri: https://api360.yandex.net/directory/v1/org/743156/users/1130000061922106
    body:
      encoding: UTF-8
      string: '{"about":"Yandex360 - Ruby API gem","name":{"first":"Ruby","last":"gem","middle":"API"},"nickname":"yandex360-ruby-api-client","password":"passswrrdwithstrrngscrrty"}'
    headers:
      Authorization:
      - TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
      Grpc-Message:
      - OK
    body:
      encoding: UTF-8
      string: '{"id":"1130000061922106","nickname":"yandex360","departmentId":1,"email":"yandex360@codeplay.ru","name":{"first":"Ruby","last":"gem","middle":"API"},"gender":"","position":"","avatarId":"","about":"Yandex360
        - Ruby API gem","birthday":"","contacts":[{"type":"staff","value":"https://staff.yandex.ru/yandex360?org_id=743156&uid=1130000061922106","main":false,"alias":false,"synthetic":true},{"type":"email","value":"yandex360@codeplay.ru","main":true,"alias":false,"synthetic":true}],"aliases":[],"groups":[],"externalId":"","isAdmin":false,"isRobot":false,"isDismissed":false,"isEnabled":true,"timezone":"Europe/Moscow","language":"ru","createdAt":"2022-10-13T15:54:40.945Z","updatedAt":"2022-10-13T16:10:26.976Z"}'
  recorded_at: Thu, 13 Oct 2022 16:10:27 GMT
recorded_with: VCR 6.1.0
